In [7]:
#Q1: Modify the first item(22) of a list inside a following tuple to 222
# tuple1=(11,[22,33],44,55)


tuple1=(11,[22,33],44,55)
tuple1[1][0]=222
tuple1

(11, [222, 33], 44, 55)

In [14]:
# Q2: Countthe number of occurrences of item 50 from a tuple
# tuple2=(50,10,60,70,50)

tuple2=(50,10,60,70,50)
count=tuple2.count(50)
print("number of occurence of 50 is",count)

number of occurence of 50 is 2

In [16]:
# Q3: Write a Python program to convert a list to a tuple

def convert(list): 
    return tuple(list) 
  
list = [12, 23, 34, 45] 
print(convert(list))

(12, 23, 34, 45)

In [19]:
"""Q4: Returns a new set with all items from both sets by removing
duplicates
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}"""


set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set3=set1.union(set2)
set3

{10, 20, 30, 40, 50, 60, 70}

In [1]:
"""Q5: Merge following two Python dictionaries into one
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}"""



def merges(dict1,dict2):
    return(dict1.update(dict2))

dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

print(merges(dict1,dict2))
print(dict1)

None
{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [11]:
"""Q6: Given a Python dictionary, Change Bradâ€™s salary to 8500
sampleDict = {
'emp1': {'name': 'Jhon', 'salary': 7500},
'emp2': {'name': 'Emma', 'salary': 8000},
'emp3': {'name':'Brad', 'salary': 6500}
}"""



sampleDict = {'emp1': {'name': 'Jhon', 'salary': 7500},
              'emp2': {'name': 'Emma', 'salary': 8000},
              'emp3': {'name':'Brad', 'salary': 6500}}


sampleDict.update(salary=8500)
print(sampleDict)

{'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 6500}, 'salary': 8500}

In [7]:
"""Q7: Rename key city to location in the following dictionary
sampleDict = {
"name": "Kelly",
"age":25,
"salary": 8000,
"city": "New york"
}"""



sampleDict = {
"name": "Kelly",
"age":25,
"salary": 8000,
"city": "New york"
}
new_key="location"
old_key="city"

sampleDict[new_key]=sampleDict.pop(old_key)
print(sampleDict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}