In [9]:
#Q1:Input a string of odd length(minimum 9 charecter),print a string made of the 3 middle charecters from input string
    
    
strin=input("Enter a odd length string:")
strlen=int(len(strin))
strtstr=(int(strlen/2))-1
endstr=strtstr+3
print(strin[strtstr:endstr])

Enter a odd length string:malayalam
aya

In [10]:
# Q2: Calculate the sum and average of first n natural numbers
# a)Using for loop


n=int(input("enter the number:"))
sum=0
avg=0
for i in range(0,n+1,1):
    sum = sum+i
average = sum / n
print("Sum of first",n,"narural number is:",sum)
print("Average of first ", n, "natural number is: ", average)

enter the number:20
Sum of first 20 narural number is: 210
Average of first  20 natural number is:  10.5

In [2]:
# Q2:b)Using while loop

n=int(input("enter the number:"))
total=n
sum=0
while (n >= 0):
    sum += n
    n-=1
average  = sum / total
print ("sum using while loop: ", sum)

print("Average using a while loop: ", average)

enter the number:20
sum using while loop:  210
Average using a while loop:  10.5

In [6]:
# Q3: Accept list of 5 float numbers as input from user using loop and store values in a list.

lst = [] 
n = int(input("Enter number of elements : ")) 
for i in range(0, n): 
    ele = float(input()) 
  
    lst.append(ele) 
      
print(lst)

Enter number of elements : 5
2.5
6.5
99.8
78.8
44.4
[2.5, 6.5, 99.8, 78.8, 44.4]

In [11]:
"""Q4: print the following pattern
   A) 1
      1 2
      1 2 3 
      1 2 3 4
      1 2 3 4 5"""



rows = 5
for row in range(1, rows+1):
    for column in range(1, row + 1):
        print(column, end=' ')
    print("")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [12]:
""" Q4: 
   B) 5 4 3 2 1
      4 3 2 1
      3 2 1
      2 1
      1"""

rows = 5
for i in range(0, rows + 1):
    for j in range(rows - i, 0, -1):
        print(j, end=' ')
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [13]:
# Q5: Input a number,count and print the total number of digits in that number using while loop

num=int(input("enter a number:"))
count=0
while(num > 0):
    num = num // 10
    count = count + 1

print("\n Number of Digits in a Given Number = %d" %count)

enter a number:9954785

 Number of Digits in a Given Number = 7

In [14]:
# Q6: given two lists.create a third list by picking an odd index element from the first list and even index element from second


listOne=[3,6,9,12,15,18,21]
listTwo=[4,8,12,16,20,24,28]
c=[]
for i in range(1,len(listOne)+1):
    if i%2==0:
        c.append(listTwo[i-1])
    else:
        c.append(listOne[i-1])

print(c)

[3, 8, 9, 16, 15, 24, 21]

In [15]:
# Q7: Program to get smallest number from a list

list=[23,3,45,44,-1,0,76]
small=list[0]
for i in range(1,len(list)):
    if list[i]<small:
        small=list[i]
print(small)

-1

In [16]:
# Q8:  Reverse the following list using for loop and range



list1=[10,20,30,4,50]
rev=[]
for i in range(len(list1)-1,-1,-1):
    rev.append(list1[i])
print(rev)

[50, 4, 30, 20, 10]